services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: Vk_Max_bot
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
      - ./last_id.txt:/app/last_id.txt